#Exclude private information 
deploy_info

#Exclude temp output
temp_output/*
*~lock*
*.swp
poetry.lock
#Exclude deploy scripts
*deploy*

#Exclude builds
dist/*
_build/
_build
#exclude proj build (only tar remaining)
proj/proj-9.0.0/*

#logs
*log*
#exclude data
examples/*.csv 
examples/testdata.csv


#Exclude development scripts for testing
development/*

#Exclude physiographic data
physiography/*
#Exclude virtual environments
.nox/

# pychache
*__pycache__*
.spyproject
*.pyc
.vscode
*tempCodeRunnerFile.py
