#Exclude private information 
deploy_info

#Exclude temp output
temp_output/*

#Exclude deploy scripts
deploy_to*

#Exclude builds
dist/*

#exclude proj build (only tar remaining)
proj/proj-9.0.0/*

#logs
logfile.log
#Exclude development scripts for testing
development/*

#Exclude physiographic data
physiography/*
#Exclude virtual environments
.nox/

# pychache
src/vlinder_toolkit/__pycache__/*

*__pycache__*


*.pyc
