[tool.poetry]
name = "MetObs-toolkit"
version = "0.1.1a0"
description = "A Meteorological observations toolkit for scientists"
authors = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
maintainers = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
license = "LICENSE"
readme = "README.md"
documentation = "https://python-poetry.org/docs/"
packages = [{include = "metobs_toolkit"}]
keywords = ["meteorology", "observations", "urban climate"]

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^1.3.0"
numpy = "^1.17.3"
matplotlib = "^3.0.0"
mysql-connector-python = "^8.0.6"
geopandas = "^0.9.0"
pyproj = "~3.4"
mapclassify = "^2.4.0"
earthengine-api = "^0.1.340"
PyQt5 = "=5.12.2" #Technical: this version is the latest to build from source
pyqt5-sip = "^12.12.1"
pyqt5-qt5 = "^5.15.2"



[tool.poetry.group.dev.dependencies]
poetry = "^1.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
