[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry]
authors = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
description = "A Meteorological observations toolkit for scientists"
documentation = "https://vergauwenthomas.github.io/MetObs_toolkit/"
keywords = ["meteorology", "observations", "urban climate"]
license = "LICENSE"
maintainers = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
name = "MetObs-toolkit"
packages = [{include = "metobs_toolkit"}]
readme = "README.md"
version = "0.1.3a"

[tool.poetry.dependencies]
cartopy = '^0.21.1'
earthengine-api = "^0.1.340"
geemap = '^0.20.0'
geopandas = "^0.9.0"
# geos = '^3.7'
mapclassify = "^2.4.0"
# numpy = "^1.17.3" #in pandas
matplotlib = "^3.0.0"
pandas = "^1.3.0"
pygeos = "^0.14"
pyproj = "~3.4"
python = "^3.9"
shapely = "^2.0.2"

[tool.poetry.group.dev.dependencies]
# To run poetry tests
poetry = "^1.7"
pre-commit = "^3.6"

[tool.poetry.group.documentation.dependencies]
myst_parser = '^2.0.0'
nbsphinx = '^0.9'
pandoc = '^2.1'  # Check on PyPi (not in local conda env) + with system wide install
# Group of dep packages for building the documentation
sphinx = '^7.2'
sphinx-copybutton = '^0.5.1'
sphinx-rtd-theme = '^1.3.0'

[tool.poetry.group.titan.dependencies]
# titanlib requires C-compilers, which are not by default present on windows.
# Make a seperate group for titan
titanlib = '^0.3'
