[tool.poetry]
name = "MetObs-toolkit"
version = "0.1.1a2"
description = "A Meteorological observations toolkit for scientists"
authors = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
maintainers = ["Thomas Vergauwen <thomas.vergauwen@meteo.be>"]
license = "LICENSE"
readme = "README.md"
documentation = "https://python-poetry.org/docs/"
packages = [{include = "metobs_toolkit"}]
keywords = ["meteorology", "observations", "urban climate"]

[tool.poetry.dependencies]
python = "^3.9" #can be converted to 3.8 (but to risky so close to the summerschool)
pandas = "^1.3.0"
numpy = "^1.17.3"
matplotlib = "^3.0.0"
mysql-connector-python = "^8.0.6"
geopandas = "^0.9.0"
pyproj = "~3.4"
mapclassify = "^2.4.0"
earthengine-api = "^0.1.340"
geemap = '^0.20.0'
titanlib = "^0.3" #can give errors due to C-compiler in windows ....





[tool.poetry.group.dev.dependencies]
poetry = "^1.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
