[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "vlinder_toolkit"
description = "A VLINDER and MOCCA toolkit for scientists"
version = "0.3.10"
authors = [
    { name = "Thomas Vergauwen", email = "thomas.vergauwen@meteo.be" }
]


dependencies = [
  'pandas >= 1.3.0',
  'matplotlib >= 3.0.0',
  'mysql-connector-python >= 8.0.0',
  'geopandas >= 0.9.0',
  'rasterstats >= 0.17.0'
]


exclude = ["tests", "examples", "development"]


readme = "README.md"
license = { file="LICENSE" }
requires-python = ">3.7.0"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/vergauwenthomas/vlinder_toolkit"


