/* colors */




/* buttons */

.button>p>a {
    box-shadow: 0px 4px 14px -7px #999999;
    /* background-color: white; */
    border: 1px solid #bbbbbb;
    display: inline-block;
    cursor: pointer;
    color: #175ed1;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    margin: 2%;
    width: 40%;
}


.button>p>a:active {
    position: relative;
    top: 1px;
}

/* anything related to the light theme */
html[data-theme="light"] {

    /* whatever you want to change */
    background: white;
}

/* anything related to the dark theme */
html[data-theme="dark"] {

    /* whatever you want to change */
    background: black;
}
