name: Test pushed version

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy-2.7 and pypy-3.8
      matrix:
        python-version: ["3.9", "3.10"]
        os: [ubuntu-latest, windows-latest]
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      # You can test your matrix by printing the current Python version
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install poetry
        run: |
            pip install poetry

      - name: Install dependencies and build
        run: |
            poetry update
            poetry install
            poetry build
      - name: Run tests
        run: |
            cd tests
            cd push_tests
            poetry run basic_import_test.py
            poetry run IO_test.py
            poetry run qc_test.py
            poetry run breaking_test.py
     
